{% extends 'base.html.twig' %}

{% block title %}Become a teacher{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row justify-content-center mt-5">
        <div class="col-10 col-sm-7 col-lg-4">
            <h1 class="h3 mb-3 font-weight-normal ">Become a teacher</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-7 col-lg-4">
            {% if (app.user == false) %}
            {{ form_start(registrationForm, {'multipart': true}) }}
                <label for="name">Name</label>
                <input type="text" class="form-control mb-1" name="name" id="name" placeholder="Your name" required>  
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
               
                {{teachersData|raw}}
                <div class="mt-2">
                        {{ form_row(registrationForm.agreeTerms, {
                        label: 'Accept the Terms and Conditions'
                        }) }}
                </div>              
                  
                    <button class="btn btn-primary col-12 col-sm-12 col-lg-4 float-sm-right my-2" type="submit">Sign Up</button>
                
                {{ form_end(registrationForm) }}

            {% elseif app.user == true %}
                <form action="http://finalproject.test/register/teacher" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="formUserToTeacher">
                {{teachersData|raw}}
               <div class="mt-2">
                        {{ form_row(registrationForm.agreeTerms, {
                        label: 'Accept the Terms and Conditions'
                        }) }}
                </div>
                <button class="btn btn-primary col-12 col-sm-12 col-lg-4 float-sm-right my-2" type="submit">Sign Up</button>
                
                <input type="hidden" name="id" value="{{app.user.id}}">
                </form>
                    
                
            {% endif %}            
        
        </div>
    </div>
    
    
{% endblock %}
{% block javascripts %}
<script src="/js/registration.js"></script>
{% endblock %}