{% extends 'base.html.twig' %}

{% block title %}Messages!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/messages.css">
{% endblock %}

{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-10 col-sm-7 col-lg-4">
        <h1 class="h3 mb-3 font-weight-normal text-center">Your conversations</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 mb-3" id="messagesList">
    
    {% if userMessages|length > 0 %}
        {% for messages in userMessages %}
            {% set idUserVar = "" %}
            {% set messageNotRead = "" %}
            {% if messages.messageread == 0 %}
                {% set messageNotRead = "notRead" %}
            {% endif %}
            {% if user.id == messages.iduser.id %}
                {% set idUserVar = messages.idteacher.id %}
                {% set nameConversation = messages.idteacher.name %}
            {% else %}
                {% set idUserVar = messages.iduser.id %}
                {% set nameConversation = messages.iduser.name %}
            {% endif %}
            <div class="card mt-2 card-message" idLoggedUser={{user.id}} idUser={{idUserVar}}>
                <div class="card-header">{{nameConversation}}</div>
                <div class="card-body">
                    <p class="card-text cut-text {{messageNotRead}}">{{messages.message}}</p>
                </div>
            </div>

        {% endfor %}
    {% else %} 
        <div class="card mt-2">
            <div class="card-body">
                <p class="card-text">You don't have messages yet</p>
            </div>
        </div>
    {% endif %}
        
        
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="/js/messagesAll.js"></script>
{% endblock %}