{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{{dump(Teacher)}}
{{dump(user)}}
{{dump(app.user)}}
{{dump(Languages)}}
{{dump(TeacherLanguages)}}
<div class="row">
    <div class="col-6">
        <form action="{{ path('EditTeacher') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="formUserToTeacher">
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" name="Title" id="Title" placeholder="English teacher..." value={{Teacher.Title}} required>
            </div>
            <div class="form-group">
                <label for="languages">Languages you teach</label>
                <select name="languages[]" id="languages" class="form-control" multiple required>
                
                    {% for language in Languages %}
                    {% set selected = "" %}
                        {% for teacherLanguage in TeacherLanguages %}
                            {% if teacherLanguage.idlanguage.id == language.id %}
                                {% set selected = "selected" %}
                            {% endif %}
                        {% endfor %}
                        <option value="{{language.id}}" {{selected}}>{{language.language}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="textArea">
                <label for="description">Description</label>
                <textarea type="text" maxlength="1000" name="description" id="description" placeholder="Describe yourself as a teacher" required>{{Teacher.description}}</textarea>
            </div>
            <div class="form-group" id="TeacherProfilePic">
                <label for="profilePic">Profile pic</label>
                <input type="file" id="profilePic" name="profilePic" class="form-control" aria-describedby="profilePic" placeholder="profilePic"></input>
                {% set filepath = "/img/teacher/" ~ Teacher.iduser.id ~ "/" ~ Teacher.profilepic %}
                <img src="{{filepath}}" alt="{{Teacher.profilepic}}"/>
            </div>

             <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
            <input type="hidden" name="idTeacher" value="{{Teacher.id}}">


        </form>
    </div>
</div>

{% endblock %}
